[user]
	name = Mateo Galic
	email = mateogalic112@gmail.com
[core]
	editor = nvim
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autostash = true
[diff]
	algorithm = histogram
[commit]
	verbose = true
